.text-done {
	color: green;
}

.text-todo {
	padding-bottom: 5rem;
}

span {
	/* https://devdocs.io/css/white-space */
	white-space: pre-wrap;
}

body {
	display: flex;
	justify-content: center;
}

p {
	max-width: 600px;
}

img {
	height: 52px;
}

#cursor {
	outline: solid 1px black;
	animation: blinker 1s ease-in-out infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

#inputbox {
	background-color: white;
	position: absolute;
	border: 1px solid black;
}

.caret-hidden {
	caret-color: transparent;
}

textarea {
	width: 100%;
	height: 20rem;
	resize: vertical;
}
